.box1{
    display: flex;
    margin: 10px 0 30px 10px;
}

.link{
    text-decoration: none;
    color: #4361ee;
}

.but1,
.but2{
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 15px;
}

.botLin{
    border-bottom: 1px solid #4361ee;
}